@model List<Teacher>
<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Basic Table</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Speciality</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Speciality</td>
                                <td>
                                    <a class="btn btn-warning" asp-action="details" asp-route-id="@item.Id">Details</a>
                                    <a class="btn btn-danger" asp-action="update" asp-route-id="@item.Id">Update</a>
                                    <form asp-controller="teacher" asp-action="delete" method="post">
                                        <input type="hidden" name="id" value="@item.Id"/>
                                        <button class="btn btn-success" type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
